<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petwork</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/"><img id="logo" src="/assets/images/logo1.png" alt="logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if user}}
        <li><a href="/myprofile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {{/if}}
        {{#unless user}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        {{/unless}}
      </ul>
    </div>
  </nav>
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>
</html>