<h1>Create Pet!</h1>

<form id="createPetForm">
    <input type="text" id="petName" placeholder="Name">
    <input type="text" id="petGender" placeholder="Gender">
    <input type="text" id="petColor" placeholder="Color">
    <input type="text" id="petAge" placeholder="Age">
    <input type="text" id="petBreed" placeholder="Breed">
    <input type="text" id="petVaccinated" placeholder="Vaccinated">
    <input type="text" id="petHobbies" placeholder="Hobbies">
    <input type="submit" value="Add A Pet">
</form>
<button class="upload-widget" id="create-widget" data-pic=""> Upload Pet Picture</button>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script src="/assets/js/cloudinary.js"></script>