<h1>Create Pet!</h1>

<form id="createPetForm">
    <input type="text" id="petName" placeholder="Name">
    <input type="text" id="petGender" placeholder="Gender">
    <input type="text" id="petColor" placeholder="Color">
    <input type="text" id="petAge" placeholder="Age">
    <input type="text" id="petBreed" placeholder="Breed">
    <input type="text" id="petVaccinated" placeholder="Vaccinated">
    <input type="text" id="petHobbies" placeholder="Hobbies">
    <input type="submit" value="Add A Pet">
</form>