<header>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/assets/images/header1.jpg" alt="slider photo 1"> <!-- random image -->
      </li>
      <li>
        <img src="/assets/images/header2.jpeg" alt="slider photo 2"> <!-- random image -->
      </li>
      <li>
        <img src="/assets/images/header5.png" alt="slider photo 3"> <!-- random image -->
      </li>
      <li>
        <img src="/assets/images/header6.jpg" alt="slider photo 4"> <!-- random image -->
      </li>
    </ul>
  </div>
</header>

<section class="title">
    <div id="title-wrapper">
        <table>
            <th style="font-family:'Pacifico', cursive">Your Pet's Next BFF</th>
            <th><img src="/assets/images/logo3.png" alt="logo" style="height:10rem"></th>
            <th style="font-family:'Pacifico', cursive">Is Only a Click Away</th>
        </table>
    </div>
</section>