<div class="container" id="form">
    <div class="form-header">
    <h1 class="center-align">Login!</h1></div>
    <form method="POST" action="/login">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
        {{!-- <a class="waves-effect waves-light btn center-align #66bb6a green lighten-1">Login</a> --}}
    </form>
</div>
