<div class="container" id="form">
    <div class="row">
    <h1 class="center-align sign-up">Sign Up</h1>
    <form method="POST" action="/signup">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="zip" placeholder="Zip Code">
        <input type="submit" value="Sign Up">
</div>
    </form>
</div>


