body {
    background-color: rgb(248, 248, 248);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 1rem;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    background: rgb(130,237,166,0.7);
    width: 100%;
}

.profile__picture {
    display: flex;
}

.avatar {
    vertical-align: middle;
    height: 700px;
}

.picture:hover{
    transform: scale(1.05);
}

.user__description {
    display: flex;
    width: 87%;
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 8px -9px black;
}

.user__picture {
    display: flex;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 50%;
}

.user__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px;
}

.userTop__info > h3 {
    font-size: medium;
    color: rgb(104, 97, 97);
}

.picture {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(202, 201, 201);
    width: 260px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin: 5px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

#logo {
    height: 100%;
    margin-left: 1rem;
}

nav {
    height: 5rem;
    background-color: rgb(130,237,166,0.7);
    padding: 0 1% 0 0;
}

.nav-links {
    height: 100%;
    font-weight: bold;
}

a:hover {
    color: #666;
    background: none !important;
}

.title {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#title-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

tr {
    border-bottom: none !important
}

th {
    font-weight: normal;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    color: #4c2b00
}


#form{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px;
};



.arrows-wrapper {
    position: absolute;
    bottom: 50%;
    z-index: 2;
    width: 100%;
}

.main-wrapper {
    margin: 0 1rem !important;
    display: flex;
}

.info-wrapper {
    background: rgb(130,237,166,0.5);
    border: 10px double white;
    font-family: "Quicksand", sans-serif;
}

.info-sections {
    padding: 1rem;
    margin-bottom: 0 !important;
}

#info-section1, #info-section3 {
    background: rgb(252,247,232,0.4)
}

.info-pics {
    border: 2px solid white;
}

.features-wrapper {
    padding-left: 0.5rem;
    font-family: "Quicksand",sans-serif
}

td {
    padding: 15px !important;
}

.aside-content {
    background: rgb(130,237,166,0.5);
    padding: 0.5rem;
    padding-top: 2rem;
    border: 10px double white;
    min-height: 100%;
}

.sidenav {
    font-family: "Quicksand", sans-serif;
    background: rgb(235,247,239)
}

@media only screen and (max-width: 800px) {
    .main-wrapper {
        flex-direction: column;
    }

    .info-wrapper {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .features-wrapper {
        padding: 0 !important;
        width: 100% !important;
    }

    .feature-row {
        margin-bottom: 0 !important
    }

    td {
        padding: 0 1rem !important;
    }

    .td1 {
        width: 5% !important;
    }

    .td2 {
        width: 95% !important;
    }

    .aside-content {
        padding-top: 0.5rem;
        padding-left: 8%;
        padding-right: 8%;
    }

    #features-title {
        margin-bottom: 0.7rem !important;
    }
}

.upload-widget, input[type=submit] {
    background-color: rgb(111,199,141);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.carousel  { 
    min-height: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    
    
    }
.pic {
    max-width: fit-content;   
    height:200px;
    border-radius: 55%;    
     margin-top:30px;
    margin-left: px; 
 
    /* text-align: left; */
} 
#car {
    padding: 70px;
    width: 60%;
}
.upload-widget:hover, input[type=submit]:hover {
   cursor: pointer;
}

#form{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Quicksand",sans-serif

}
/* .carousel-item {
    
    margin: auto;
   

} */
.description {
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 60px;
    margin-bottom: 60px;
    text-align: center;
    padding: 30px 30px;



}
.information {
    text-align: center;
    background:rgb(130,237,166,0.5);
    padding-bottom:25px;
    padding-top: 5px;
    font-size:15px;
    /* margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px; */
    width: 60%;
    transform: translate(30%, 10%);
    }
    .img-name {
        text-align: center;
    }

    * {box-sizing: border-box;}

    /* Button used to open the contact form - fixed at the bottom of the page */
    /* .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    } */
    
    /* The popup form - hidden by default */
    .info-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .info-popup{
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width input fields */
    .info-popup input[type=text], .info-popup input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    
    /* When the inputs get focus, do something */
    .info-popup input[type=text]:focus, .info-popup input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .info-popup .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */

    
    /* Add some hover effects to buttons */
    .info-popup .btn:hover, .open-button:hover {
      opacity: 1;
    }
    .car-btn {
        
        position: absolute;
        bottom: 2%;
        width: 100%;
        right:3%;

    }

  
